<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDA38F3D1C29485000E6DB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA38F591C29485000E6DB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA38F641C29485100E6DB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
