<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P0001</key>
	<string>C001</string>
	<key>P0002</key>
	<string>C001</string>
    <key>P0003</key>
    <string>C001</string>
    <key>P0004</key>
    <string>C001</string>
    <key>P0005</key>
    <string>C001</string>
    <key>P0006</key>
    <string>C002</string>
    <key>P0007</key>
    <string>C003</string>
    <key>P0008</key>
    <string>C004</string>
    <key>P0009</key>
    <string>C005</string>
    <key>P0010</key>
    <string>C006</string>
    <key>P0011</key>
    <string>C007</string>
    <key>P0012</key>
    <string>F003</string>
    <key>P0013</key>
    <string>H001</string>
    <key>P0014</key>
    <string>H002</string>
    <key>P0015</key>
    <string>H003</string>
    <key>P0016</key>
    <string>C006</string>
    <key>P0017</key>
    <string>C001</string>
    <key>P0018</key>
    <string>C002</string>
    <key>P0019</key>
    <string>C001</string>
    <key>P0020</key>
    <string>C006</string>
    <key>P0021</key>
    <string>C002</string>
    <key>P0022</key>
    <string>C003</string>
    <key>P0023</key>
    <string>C004</string>
    <key>P0024</key>
    <string>C005</string>
    <key>P0025</key>
    <string>C005</string>
    <key>P0026</key>
    <string>C006</string>
    <key>P0027</key>
    <string>C002</string>
    <key>P0028</key>
    <string>C003</string>
    <key>P0029</key>
    <string>C004</string>
    <key>P0030</key>
    <string>C005</string>
    <key>P0031</key>
    <string>C006</string>
    <key>P0032</key>
    <string>C006</string>
    <key>P0033</key>
    <string>C007</string>
    <key>P0034</key>
    <string>C007</string>
    
    <key>P0035</key>
    <string>F003</string>
    <key>P0036</key>
    <string>H001</string>
    <key>P0037</key>
    <string>C003</string>
    
    <key>P0038</key>
    <string>C003</string>
    <key>P0039</key>
    <string>C003</string>
    <key>P0040</key>
    <string>C003</string>
    <key>P0041</key>
    <string>C003</string>
    <key>P0042</key>
    <string>C003</string>
    <key>P0043</key>
    <string>C003</string>
    
    <key>P0044</key>
    <string>C003</string>
    <key>P0045</key>
    <string>C003</string>
    <key>P0046</key>
    <string>C003</string>
    <key>P0047</key>
    <string>C003</string>
    <key>P0048</key>
    <string>C003</string>
    <key>P0049</key>
    <string>C003</string>
    
</dict>
</plist>
